main section.new-tweet {
  width: 100%;
}

main section.new-tweet form {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  width: 100%;
  margin-bottom: 20px;
}

main section.new-tweet form div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0.5em;
  font-family: 'Bungee', cursive;
  margin-bottom: 1em;
}
main section.new-tweet form label{
  font-weight: bold;
  margin: 0.5em;
}

main section.new-tweet form textarea {
  border: none;
  outline: none;
  resize: none;
  background-color: inherit;
  border-bottom: 2px solid #58554d;
  margin: 0.5rem;
  margin-bottom: 0.5rem;
  height: 5rem;
} 

main section.new-tweet form div button{
  background-color: #4056A1;
  color: #FFFFFF;
}

.tweet-container{
  width: 100%;
}

#error-message {
  width: 60vw;
  border: red solid 3px;
  display: none;
  padding: 0 2rem;
  margin-top: 4%;;
}

#show-message{
  display: flex;
}

#show-message p{
  color: red;
  font-size: large;
  margin-left: 2%;
  margin-right: 2%;
}

.fa-exclamation-triangle{
  color: red;
  padding-top: 0.8rem;
}