article {
  width: 100%;
  border: 2px solid black;
  margin: 1em 0;
  padding: 0.4em;
  background-color: #f4f1ec;
}

.tweet-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

article header div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

article header span {
  padding: 0.5em;
}

article footer {
  border-top: 2px solid black;
  display: flex;
  justify-content: space-between;
  padding: 0.3em 20px;
}

article footer div {
  font-size: 0.6em;
}

article footer span {
  font-size: 0.6em;
}

.tweet-body {
  padding: 30px 20px;
}

.footericons i:hover{
  color: #0a50ba;
}