article {
  width: 100%;
  border: 2px solid black;
  margin: 1em;
  padding: 0.4em;
  background-color: #f4f1ec;
}

article header.page-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 2rem;
}

article header div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

article header span {
  padding: 0.5em;
}

article footer {
  border-top: 2px solid black;
  display: flex;
  justify-content: space-between;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
}

article footer div {
  font-size: 0.6em;
}

article footer span {
  font-size: 0.6em;
}